@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
* {font-family: 'Shadows Into Light', cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {

  height: 100vh;
  display: flex;
  background: #fff;
  flex-direction: column;

}

.memory-game {
  width: 65%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(24% - 10px);
  height: calc(35.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 101%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ffff;
  backface-visibility: hidden;
}.back-face {

  background-color: #a42029;

}

.front-face {
  transform: rotateY(180deg);
}

@media (max-width: 605px){.front-face, .back-face {
  width: 100%;
height: 100%;}

 .memory-game {
  width: 375px;
  height: 613px;

}
.memory-card {
  width: calc(33% - 10px);
  height: calc(24.333% - 10px);
}
}
h1 {
  text-align: center;
  color: #a42029;
  padding: 3%;
  font-size: 44px;
}